body{
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Roboto','sans-serif' !important;
  box-sizing: border-box;
}
section{
  padding: 50px 0px !important;
}
nav{
  position: fixed !important;
  z-index: 5;
}
h1{
  font-weight: bold;
  letter-spacing: 8px;
}
.display-1{
  font-size: 60px;
}
.display-4{
  font-size: 30px;
}
.display-4:hover,.footer-link>li>a:hover{
  color: #00f2fe;
  transition: .2s ease-in-out;
}

.p-10{
  padding: 20px 0px !important;
}

.p-5{
  padding: 10px !important;
}
.m-t-10{
  margin-top: 10px !important;
}

.no-mar{
  margin: 0px !important;
  padding: 0px !important;
}
.footer-link{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;

}
.p-50{
  padding: 50px;
}
.button-primary{
  font-size: 20px;
  padding: 15px 40px !important;
  border: 0px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}