:root{
  --primary-color:#42a5f5 ;
}
body{
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Montserrat','sans-serif' !important;
  box-sizing: border-box;
  background: linear-gradient(to right,#fff6f6,#f3f3f3);
}
blockquote{
  border-color: var(--primary-color);
}
section{
  padding: 50px 0px !important;
}
.logo{
  font-family: monospace;
}
h1{
  font-weight: bold;
  letter-spacing: 8px;
}
.display-1{
  font-size: 60px;
}
.display-4{
  font-size: 30px;
}
.display-4:hover,.footer-link>li>a:hover{
  color: var(--primary-color);
  transition: .2s ease-in-out;
}
.p-t-100{
  padding-top: 100px !important;
}
.p-10{
  padding: 20px 0px !important;
}

.p-5{
  padding: 10px !important;
}
.m-t-10{
  margin-top: 10px !important;
}

.no-mar{
  margin: 0px !important;
  padding: 0px !important;
}
.footer-link{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;

}
.p-50{
  padding: 50px;
}
.button-primary{
  font-size: 20px;
  padding: 10px 40px !important;
  color: white;
  background-image: linear-gradient(to right, #42a5f5  0%, #29b6f6  100%);
  border: 0px;
}
